@import url(https://fonts.googleapis.com/css?family=Red+Rose:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

@charset "UTF-8";

@font-face {
  font-family: MonumentExtended;
  font-display: swap;
  src: url("../fonts/MonumentExtended-Regular.woff2") format("woff2"), url("../fonts/MonumentExtended-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-android:before {
  content: "\e900";
}

._icon-apple:before {
  content: "\e901";
}

._icon-arr-left:before {
  content: "\e902";
}

._icon-arrowup:before {
  content: "\e903";
}

._icon-arr-up-small:before {
  content: "\e904";
}

._icon-fasebook:before {
  content: "\e905";
}

._icon-in:before {
  content: "\e906";
}

._icon-insta:before {
  content: "\e907";
}

._icon-logo:before {
  content: "\e908";
}

._icon-plain:before {
  content: "\e909";
}

._icon-play:before {
  content: "\e90a";
}

._icon-tit-tok:before {
  content: "\e90b";
}

._icon-twitter:before {
  content: "\e90c";
}

._icon-youtube:before {
  content: "\e90d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Red Rose";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Red Rose";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

body {
  background-color: #101010;
}

body::-webkit-scrollbar {
  width: 0;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 103.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  padding: 2.3125rem 0rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: background-color 0.8s;
  -o-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.header._header-scroll {
  background-color: rgba(3, 15, 12, 0.9019607843);
}

.header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.875rem;
  background-color: rgba(11, 88, 74, 0.9333333333);
  z-index: 3;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.menu-open .header::before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 100%;
}

.header__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  line-height: 1.25;
  letter-spacing: 0.02em;
  padding: 0.9375rem 1.75rem;
  background-color: #52FFE0;
  color: #2C2D31;
  border-radius: 3.125rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  z-index: 5;
}

.menu {
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  font-size: 1.125rem;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.menu__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  height: 0.0625rem;
  background-color: #52FFE0;
  width: 0;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.artworks__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.25rem;
}

.artworks__body {
  padding-top: 5rem;
  padding-bottom: 3.125rem;
}

.artworks__img-ibg {
  padding-bottom: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes play {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.artworks__img-ibg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#7F1CFC), to(#59DCDC));
  background: -o-linear-gradient(top, #7F1CFC 0%, #59DCDC 100%);
  background: linear-gradient(180deg, #7F1CFC 0%, #59DCDC 100%);
  -webkit-filter: blur(40px);
          filter: blur(40px);
  border-radius: 11.25rem;
}

.artworks__img-ibg img {
  border-radius: 11.25rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.body-artworks__subtitle {
  font-family: "MonumentExtended";
  letter-spacing: 0.04em;
}

.body-artworks__subtitle:not(:last-child) {
  margin-bottom: 1rem;
}

.body-artworks__title {
  font-family: "MonumentExtended";
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.actions-artworks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.actions-artworks__column {
  display: -ms-grid;
  display: grid;
}

.actions-artworks__column--1 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  position: relative;
}

.actions-artworks__column--1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, 10%);
      -ms-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  background: url("../img/icons/arrowup.svg") center/cover no-repeat;
}

.actions-artworks__btn a {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  padding: 1.3125rem 2.4375rem;
  background-color: #52FFE0;
  border-radius: 3.125rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #2C2D31;
}

.actions-artworks__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.actions-artworks__total {
  font-family: "MonumentExtended";
  font-size: 1.875rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.actions-artworks__total:not(:last-child) {
  margin-bottom: 0.5rem;
}

.actions-artworks__work {
  line-height: 1.375;
  letter-spacing: 0.02em;
}

.actions-artworks__img {
  width: 7.375rem;
}

.actions-artworks__img img {
  max-width: 100%;
}

.categories {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.categories__container {
  position: relative;
}

.categories__title {
  font-family: "MonumentExtended";
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.categories__pgn {
  display: none;
}

.categories__btn {
  position: absolute;
  width: 4.375rem;
  height: 4.375rem;
  top: 50.5263157895%;
  border-radius: 50%;
  background: #2C2D31 url("../img/icons/arr-left.svg") center/1.625rem 1rem no-repeat;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.categories__btn.swiper-button-disabled {
  background-color: #033939;
  cursor: default;
}

.categories__body {
  display: -ms-grid;
  display: grid;
  row-gap: 3.125rem;
  background-color: #2C2D31;
  border-radius: 3.125rem;
  padding-bottom: 3.125rem;
}

.categories__img-ibg {
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 3.125rem;
}

.categories__img-ibg img {
  padding: 0.625rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.categories__name {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.04em;
}

.swiper-button-prev {
  left: 0;
  -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
          transform: translateX(-30%);
}

.swiper-button-next {
  right: 0;
  -webkit-transform: translateX(30%) rotate(180deg);
      -ms-transform: translateX(30%) rotate(180deg);
          transform: translateX(30%) rotate(180deg);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 101.25em) {
  .artworks__inner {
    -webkit-column-gap: 8.1875rem;
       -moz-column-gap: 8.1875rem;
            column-gap: 8.1875rem;
  }
}

@media (min-width: 103.125em) {
  .page__artworks {
    padding-top: 10.375rem;
  }

  .page__artworks {
    padding-bottom: 3.125rem;
  }

  .page__categories {
    padding-top: 3.125rem;
  }

  .page__categories {
    padding-bottom: 3.75rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .body-artworks__subtitle {
    font-size: 2.25rem;
  }

  .body-artworks__subtitle {
    line-height: 2.6875rem;
  }

  .body-artworks__title {
    font-size: 4.5rem;
  }

  .body-artworks__title {
    line-height: 5.4375rem;
  }

  .body-artworks__title:not(:last-child) {
    margin-bottom: 5rem;
  }

  .actions-artworks {
    -webkit-column-gap: 3.375rem;
       -moz-column-gap: 3.375rem;
            column-gap: 3.375rem;
  }

  .actions-artworks__column {
    row-gap: 5rem;
  }

  .actions-artworks__column--1::before {
    width: 11.5625rem;
  }

  .actions-artworks__column--1::before {
    height: 8.125rem;
  }

  .categories__title {
    font-size: 1.875rem;
  }

  .categories__title:not(:last-child) {
    margin-bottom: 4.5rem;
  }
}

@media (min-width: 75em) {
  .no-webp .artworks__img-ibg::after{
    background: url("../img/icons/play.svg") center/22px 20px no-repeat, url("../img/artworks/playicon.png") center/cover no-repeat; }
  .artworks__img-ibg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5%;
    -webkit-animation-name: play;
            animation-name: play;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}

@media (min-width: 75em) and (min-width: 101.25em) {
  .artworks__img-ibg::after {
    width: 12.5rem;
  }

  .artworks__img-ibg::after {
    height: 12.5rem;
  }
}

@media (min-width: 75em) and (any-hover: hover) {
  .artworks__img-ibg:hover::after {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@media (max-width: 75em) {
  .actions-artworks__column--1::before {
    -webkit-transform: translate(-40%, 10%);
        -ms-transform: translate(-40%, 10%);
            transform: translate(-40%, 10%);
  }
}

@media (max-width: 20em) {
  .page__artworks {
    padding-top: 7.8125rem;
  }

  .page__artworks {
    padding-bottom: 0.9375rem;
  }

  .page__categories {
    padding-top: 0.9375rem;
  }

  .page__categories {
    padding-bottom: 0.9375rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .body-artworks__subtitle {
    font-size: 1.125rem;
  }

  .body-artworks__subtitle {
    line-height: 1.375rem;
  }

  .body-artworks__title {
    font-size: 1.875rem;
  }

  .body-artworks__title {
    line-height: 2.25rem;
  }

  .body-artworks__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .actions-artworks {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .actions-artworks__column {
    row-gap: 2rem;
  }

  .actions-artworks__column--1::before {
    width: 5rem;
  }

  .actions-artworks__column--1::before {
    height: 3.75rem;
  }

  .categories__title {
    font-size: 1.5rem;
  }

  .categories__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 64.375em) {
  .artworks__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 62.5em) {
  .artworks__inner {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}

@media (max-width: 61.99875em) {
  .artworks__body {
    text-align: center;
  }

  .artworks__img-ibg img {
    border-radius: 3.125rem;
  }

  .actions-artworks__column--1::before {
    -webkit-transform: translate(0%, 10%);
        -ms-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
  }

  .actions-artworks__img {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.625rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(249, 246, 246);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0b584a;
    left: 0;
    top: 0;
    padding: 8.75rem 1.25rem 2.5rem;
    overflow: auto;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }

  .menu-open .menu__body {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu__item {
    font-size: 1.5625rem;
  }

  .actions-artworks__column--1::before {
    -webkit-transform: translate(-10%, 10%);
        -ms-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }

  .categories {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .categories__pgn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2.5rem;
    z-index: 4;
  }

  .categories__pgn .swiper-pagination-bullet {
    cursor: pointer;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid #fff;
    background-color: transparent;
  }

  .categories__pgn .swiper-pagination-bullet:not(:last-child) {
    margin-right: 0.75rem;
  }

  .categories__pgn .swiper-pagination-bullet-active {
    background-color: #7F1CFC;
  }

  .categories__btn {
    display: none;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 33.75em) {
  .actions-artworks {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .actions-artworks__column {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .actions-artworks__column--1 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .actions-artworks__column--1::before {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .actions-artworks__btn {
    display: block;
  }

  .actions-artworks__text {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 29.99875em) {
  .header__btn {
    display: block;
    text-align: center;
  }
}

@media (min-width: 20em) and (max-width: 103.125em) {
@supports (padding-top: clamp( 7.8125rem , 7.1959586466rem  +  3.0827067669vw , 10.375rem )) {
    .page__artworks {
      padding-top: clamp( 7.8125rem , 7.1959586466rem  +  3.0827067669vw , 10.375rem );
    }
}

@supports not (padding-top: clamp( 7.8125rem , 7.1959586466rem  +  3.0827067669vw , 10.375rem )) {
    .page__artworks {
      padding-top: calc(7.8125rem + 2.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 3.125rem )) {
    .page__artworks {
      padding-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 3.125rem )) {
    .page__artworks {
      padding-bottom: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 3.125rem )) {
    .page__categories {
      padding-top: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 3.125rem )) {
    .page__categories {
      padding-top: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.2608082707rem  +  3.3834586466vw , 3.75rem )) {
    .page__categories {
      padding-bottom: clamp( 0.9375rem , 0.2608082707rem  +  3.3834586466vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.2608082707rem  +  3.3834586466vw , 3.75rem )) {
    .page__categories {
      padding-bottom: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 83.125);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 83.125);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8543233083rem  +  1.3533834586vw , 2.25rem )) {
    .body-artworks__subtitle {
      font-size: clamp( 1.125rem , 0.8543233083rem  +  1.3533834586vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8543233083rem  +  1.3533834586vw , 2.25rem )) {
    .body-artworks__subtitle {
      font-size: calc(1.125rem + 1.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (line-height: clamp( 1.375rem , 1.0592105263rem  +  1.5789473684vw , 2.6875rem )) {
    .body-artworks__subtitle {
      line-height: clamp( 1.375rem , 1.0592105263rem  +  1.5789473684vw , 2.6875rem );
    }
}

@supports not (line-height: clamp( 1.375rem , 1.0592105263rem  +  1.5789473684vw , 2.6875rem )) {
    .body-artworks__subtitle {
      line-height: calc(1.375rem + 1.3125 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem )) {
    .body-artworks__title {
      font-size: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem )) {
    .body-artworks__title {
      font-size: calc(1.875rem + 2.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (line-height: clamp( 2.25rem , 1.4830827068rem  +  3.8345864662vw , 5.4375rem )) {
    .body-artworks__title {
      line-height: clamp( 2.25rem , 1.4830827068rem  +  3.8345864662vw , 5.4375rem );
    }
}

@supports not (line-height: clamp( 2.25rem , 1.4830827068rem  +  3.8345864662vw , 5.4375rem )) {
    .body-artworks__title {
      line-height: calc(2.25rem + 3.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.7354323308rem  +  4.1353383459vw , 5rem )) {
    .body-artworks__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.7354323308rem  +  4.1353383459vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.7354323308rem  +  4.1353383459vw , 5rem )) {
    .body-artworks__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 83.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.7387218045rem  +  2.5563909774vw , 3.375rem )) or (column-gap: clamp( 1.25rem , 0.7387218045rem  +  2.5563909774vw , 3.375rem ))) {
    .actions-artworks {
      -webkit-column-gap: clamp( 1.25rem , 0.7387218045rem  +  2.5563909774vw , 3.375rem );
         -moz-column-gap: clamp( 1.25rem , 0.7387218045rem  +  2.5563909774vw , 3.375rem );
              column-gap: clamp( 1.25rem , 0.7387218045rem  +  2.5563909774vw , 3.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.7387218045rem  +  2.5563909774vw , 3.375rem )) or (column-gap: clamp( 1.25rem , 0.7387218045rem  +  2.5563909774vw , 3.375rem ))) {
    .actions-artworks {
      -webkit-column-gap: calc(1.25rem + 2.125 * (100vw - 20rem) / 83.125);
         -moz-column-gap: calc(1.25rem + 2.125 * (100vw - 20rem) / 83.125);
              column-gap: calc(1.25rem + 2.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (row-gap: clamp( 2rem , 1.2781954887rem  +  3.6090225564vw , 5rem )) {
    .actions-artworks__column {
      row-gap: clamp( 2rem , 1.2781954887rem  +  3.6090225564vw , 5rem );
    }
}

@supports not (row-gap: clamp( 2rem , 1.2781954887rem  +  3.6090225564vw , 5rem )) {
    .actions-artworks__column {
      row-gap: calc(2rem + 3 * (100vw - 20rem) / 83.125);
    }
}

@supports (width: clamp( 5rem , 3.4210526316rem  +  7.8947368421vw , 11.5625rem )) {
    .actions-artworks__column--1::before {
      width: clamp( 5rem , 3.4210526316rem  +  7.8947368421vw , 11.5625rem );
    }
}

@supports not (width: clamp( 5rem , 3.4210526316rem  +  7.8947368421vw , 11.5625rem )) {
    .actions-artworks__column--1::before {
      width: calc(5rem + 6.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (height: clamp( 3.75rem , 2.6973684211rem  +  5.2631578947vw , 8.125rem )) {
    .actions-artworks__column--1::before {
      height: clamp( 3.75rem , 2.6973684211rem  +  5.2631578947vw , 8.125rem );
    }
}

@supports not (height: clamp( 3.75rem , 2.6973684211rem  +  5.2631578947vw , 8.125rem )) {
    .actions-artworks__column--1::before {
      height: calc(3.75rem + 4.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.4097744361rem  +  0.4511278195vw , 1.875rem )) {
    .categories__title {
      font-size: clamp( 1.5rem , 1.4097744361rem  +  0.4511278195vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.4097744361rem  +  0.4511278195vw , 1.875rem )) {
    .categories__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.5rem , 0.7781954887rem  +  3.6090225564vw , 4.5rem )) {
    .categories__title:not(:last-child) {
      margin-bottom: clamp( 1.5rem , 0.7781954887rem  +  3.6090225564vw , 4.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.7781954887rem  +  3.6090225564vw , 4.5rem )) {
    .categories__title:not(:last-child) {
      margin-bottom: calc(1.5rem + 3 * (100vw - 20rem) / 83.125);
    }
}
}

@media (min-width: 62.5em) and (max-width: 101.25em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -9.122983871rem  +  17.0967741935vw , 8.1875rem )) or (column-gap: clamp( 1.5625rem , -9.122983871rem  +  17.0967741935vw , 8.1875rem ))) {
    .artworks__inner {
      -webkit-column-gap: clamp( 1.5625rem , -9.122983871rem  +  17.0967741935vw , 8.1875rem );
         -moz-column-gap: clamp( 1.5625rem , -9.122983871rem  +  17.0967741935vw , 8.1875rem );
              column-gap: clamp( 1.5625rem , -9.122983871rem  +  17.0967741935vw , 8.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -9.122983871rem  +  17.0967741935vw , 8.1875rem )) or (column-gap: clamp( 1.5625rem , -9.122983871rem  +  17.0967741935vw , 8.1875rem ))) {
    .artworks__inner {
      -webkit-column-gap: calc(1.5625rem + 6.625 * (100vw - 62.5rem) / 38.75);
         -moz-column-gap: calc(1.5625rem + 6.625 * (100vw - 62.5rem) / 38.75);
              column-gap: calc(1.5625rem + 6.625 * (100vw - 62.5rem) / 38.75);
    }
}
}

@media (min-width: 75em) and (min-width: 62.5em) and (max-width: 101.25em) {
@supports (width: clamp( 5rem , -7.0967741935rem  +  19.3548387097vw , 12.5rem )) {
    .artworks__img-ibg::after {
      width: clamp( 5rem , -7.0967741935rem  +  19.3548387097vw , 12.5rem );
    }
}

@supports not (width: clamp( 5rem , -7.0967741935rem  +  19.3548387097vw , 12.5rem )) {
    .artworks__img-ibg::after {
      width: calc(5rem + 7.5 * (100vw - 62.5rem) / 38.75);
    }
}

@supports (height: clamp( 5rem , -7.0967741935rem  +  19.3548387097vw , 12.5rem )) {
    .artworks__img-ibg::after {
      height: clamp( 5rem , -7.0967741935rem  +  19.3548387097vw , 12.5rem );
    }
}

@supports not (height: clamp( 5rem , -7.0967741935rem  +  19.3548387097vw , 12.5rem )) {
    .artworks__img-ibg::after {
      height: calc(5rem + 7.5 * (100vw - 62.5rem) / 38.75);
    }
}
}

@media (min-width: 75em) and (max-width: 62.5em) {
  .artworks__img-ibg::after {
    width: 5rem;
  }

  .artworks__img-ibg::after {
    height: 5rem;
  }
}

@media (min-width: 75em) and (max-width: 61.99875em) {
  .artworks__img-ibg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 70%;
  }
}

@media (any-hover: hover) {
  .header__btn:hover {
    background-color: rgb(0, 40, 40);
    color: #fff;
  }

  .menu__item:hover::before {
    width: 100%;
  }

  .menu__item:hover {
    color: #52FFE0;
  }

  .actions-artworks__btn a:hover {
    background-color: rgb(0, 40, 40);
    color: #fff;
  }

  .categories__btn:hover {
    background-color: #74b5b5;
  }

  .categories__img-ibg img:hover {
    -webkit-filter: saturate(1.5);
            filter: saturate(1.5);
  }
}

@media (min-width: 75em){

  .webp .artworks__img-ibg::after{ background: url(../img/icons/play.svg) center/22px 20px no-repeat, url(../img/artworks/playicon.webp) center/cover no-repeat; }
}